@charset "UTF-8";
/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v19-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v19-latin_cyrillic-regular.woff") format("woff"), url("../fonts/raleway-v19-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway-v19-latin_cyrillic-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v19-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v19-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v27-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v27-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* Переменные */
:root {
  --primary-text-color: #212121;
  --hero-text-color: #ffffff;
  --hero-bg-color: #2f303a;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-bg-color: #f5f4fa;
  --line-color: #ececec;
  --card-border-color: #eeeeee;
  --icons-color: #afb1b8;
  --form-btn-bg-color-hover: #188ce8;
  --grid-item: 1;
}

/* Рекомендуется всегда подключать */
/*Стили для box-sizing которые стоит использовать по-умолчанию*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 2px solid red;
}

/* Основное тело страницы */
body {
  margin: 0;
  /*Удаляет стандартный маржин 8пх*/
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Стандартный набор стилей для картинок */
img {
  display: block;
  /*чтобы убрать отступ под картинкой ка ынлайновый элем.*/
  width: 100%;
  height: auto;
  /* Стили для обнуления верхних отступов у элементов */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* визуальное скрытие */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
}

/* Списки без стандартных точек */
/*Класс для обнуления базовых свойств у списков (ul)*/
.list {
  display: flex;
  /*для всех списков делает флех*/
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-left: -30px;
  margin-top: -30px;
}

.list__item {
  background-color: lightblue;
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

/*для всех списков делает маржин элемента*/
/*Класс для обнуления базовых свойств у ссылок*/
.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* logo */
.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  /* logo heder */
  /* logo footer */
}

.logo.is-open {
  display: none;
}

.logo--black {
  color: var(--primary-text-color);
}

.logo--white {
  color: var(--hero-text-color);
}

@media screen and (min-width: 480px) {
  .logo {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    max-width: 1200px;
    margin-right: 93px;
  }
}

/* Выравнивание в один ряд всех эл. хедера (навигации) */
.page-header__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid var(--line-color);
}

@media screen and (max-width: 767.98px) {
  .page-header__container .menu,
  .page-header__container .contact {
    display: none;
  }
}

/* Выравнивание в один ряд списка навигации */
.menu {
  display: inline-flex;
  margin-left: 35px;
  margin-top: 0;
}

@media screen and (min-width: 1200px) {
  .menu {
    margin-left: -50px;
  }
}

/* Для увеличения кликабельной области ссылок в хедере  */
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

/* отступы между эл. списка ссылок, кроме последнего */
.page-header__item {
  margin-left: 50px;
  margin-top: 32px;
}

@media screen and (min-width: 1200px) {
  .page-header__item {
    margin-top: 0px;
  }
}

/* Навигация */
.page-header__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .page-header__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.page-header__current {
  color: var(--accent-color);
  padding-bottom: 0;
}

.page-header__current::after {
  display: block;
  margin-top: 28px;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* hero */
.hero {
  /* min-height: 100vh; */
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 280px;
  text-align: center;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/overlay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  /* background-attachment: fixed; */
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

/* footer */
.footer {
  background-color: var(--hero-bg-color);
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.footer__container {
  /* --grid-item: 2; */
}

@media screen and (max-width: 1199.98px) {
  .footer__container {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.footer__widget-block {
  text-align: center;
}

.footer__widget-block:not(:last-child) {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__widget-block {
    text-align: left;
    flex-basis: calc((50% - 45px) / 2);
  }
  .footer__widget-block:last-child {
    flex-basis: calc(50% - 15px);
  }
  .footer__widget-block:not(:last-child) {
    margin-bottom: 0px;
  }
}

/* contacts */
.contact {
  display: block;
  margin-left: 0;
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    flex-wrap: nowrap;
  }
}

.contact__item {
  margin-top: 10px;
  margin-left: 0;
}

@media screen and (min-width: 1200px) {
  .contact__item {
    margin-top: 0px;
    margin-left: 30px;
  }
}

.contact__link {
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .contact__link {
    display: flex;
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-btn .icon-close {
  display: none;
}

.mobile-menu-btn.is-open .icon-close {
  display: block;
}

.mobile-menu-btn.is-open .icon-menu {
  display: none;
}

.mobile-menu-btn .icon-close {
  display: none;
}

.menu-container {
  display: none;
  list-style: none;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: lightblue;
  padding: 48px 40px;
  text-align: left;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.menu-container.is-open {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
  .menu-container.is-open {
    display: none;
  }
}

.menu-navigation__list {
  display: block;
  margin-bottom: 302px;
  margin-top: 0;
  margin-left: 0;
}

.menu-navigation__item {
  text-align: left;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 36px;
}

.menu-navigation__link {
  display: inline;
  text-align: left;
}

.menu-navigation__current {
  color: var(--accent-color);
}

.menu-contact__list {
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-color);
  margin-bottom: 64px;
}

.menu-contact__item {
  margin-left: 0;
}

.menu-contact__item--font {
  font-size: 24px;
  line-height: 1.17;
  color: var(--secondary-text-color);
}

.menu-socials__list {
  --grid-item: 4;
  flex-basis: calc((100% - 20px * var(--grid-item)) / var(--grid-item));
  margin-left: -20px;
  margin-top: -20px;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
}

.menu-socials__item {
  margin-left: 20px;
  margin-top: 20px;
}

/* social-icons__list */
.social-icons__list {
  display: inline-flex;
  margin-top: 16px;
  margin-left: 0;
}

.social-icons__item {
  --grid-item: 4;
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icons__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover, .social-icons__link:focus {
  fill: var(--hero-text-color);
  background-color: var(--accent-color);
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: var(--hero-text-color);
}

@media screen and (min-width: 1200px) {
  .footer-social-icons {
    padding-top: 12px;
  }
}

.footer-social-icons__list {
  padding-top: 0;
  margin-top: 0;
}

.footer-social-icons__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons__link:hover, .footer-social-icons__link:focus {
  background-color: var(--accent-color);
}

.footer-social-icons__icon {
  fill: var(--hero-text-color);
}

/* модалка */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
}

@media screen and (min-width: 1200px) {
  .backdrop {
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  /*помагает пропустить события через скрытый бэкдроп*/
}

.modal {
  position: relative;
  background-color: var(--hero-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 450px;
    width: 100%;
    transform: translate(-50%, -50%) scale(1);
    /* transform: scale(1); */
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

@media screen and (min-width: 480px) {
  .is-hidden__modal {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

/* button */
.btn {
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  cursor: pointer;
}

.btn-main {
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--hero-text-color);
}

.btn-modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0px;
  margin-left: 412px;
  background: var(--hero-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.btn-modal-close:hover, .btn-modal-close:focus {
  fill: var(--accent-color);
}

.btn-modal-close__icon {
  margin: 5px;
}

.btn-form {
  padding: 0;
  width: 200px;
  height: 50px;
  color: var(--hero-text-color);
  background: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .btn-form {
    display: flex;
    justify-content: center;
    flex-basis: calc(((100% - 5 * 15px) / 3) * 1 + 35px);
  }
}

.btn-modal-form {
  padding: 10px 55px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.btn-modal-form:hover, .btn-modal-form:focus {
  background-color: --form-btn-bg-color-hover;
}

/* Кнопки портфолио */
.btn-portfolio__list {
  margin-left: -8px;
  margin-top: -15px;
  margin-bottom: 40px;
  justify-content: start;
}

@media screen and (min-width: 768px) {
  .btn-portfolio__list {
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.btn-portfolio__item {
  margin-left: 8px;
  margin-top: 15px;
}

.btn-portfolio {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:hover, .btn-portfolio:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* features */
.feature-list {
  padding: 0;
  color: var(--secondary-text-color);
}

/* Задаёт ширину эл. списка Особенностей */
.feature-list__item {
  --grid-item: 1;
}

@media screen and (min-width: 768px) {
  .feature-list__item {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list__item {
    --grid-item: 4;
  }
}

.feature-list__trumb {
  height: 120px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.feature-list__icon {
  fill: currentColor;
  width: 70px;
  height: 70px;
}

.feature-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .feature-list__title {
    text-align: left;
  }
}

/* work */
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work-list {
    --grid-item: 3;
  }
}

.work-list__item {
  position: relative;
}

.work-list__title {
  position: absolute;
  /*Преподнятие текста над потоком*/
  width: 100%;
  height: 70px;
  padding-top: 27px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

/* team */
.team {
  background-color: var(--secondary-bg-color);
}

.team__list {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  --grid-item: 1;
}

@media screen and (min-width: 768px) {
  .team__item {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    --grid-item: 4;
  }
}

.team__title {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--hero-text-color);
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--primary-text-color);
}

/* Постоянные клиенты */
.client-icons__item {
  --grid-item: 2;
}

@media screen and (min-width: 768px) {
  .client-icons__item {
    --grid-item: 3;
  }
}

@media screen and (min-width: 1200px) {
  .client-icons__item {
    --grid-item: 6;
  }
}

.client-icons__link {
  height: 90px;
  border: 1px solid var(--icons-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icons__link:hover, .client-icons__link:focus {
  border-color: var(--accent-color);
}

.client-icons__icon {
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icons__link:hover .client-icons__icon,
.client-icons__link:focus .client-icons__icon {
  fill: var(--accent-color);
}

/* порфолио карточки*/
.portfolio__list {
  font-size: 16px;
  line-height: 1.875;
  color: var(--secondary-text-color);
}

.portfolio__item {
  --grid-item: 1;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    --grid-item: 3;
  }
}

.portfolio__item:hover {
  color: var(--secondary-text-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link {
  display: inline;
}

.portfolio__link:hover {
  color: var(--secondary-text-color);
}

.portfolio__link:focus {
  color: var(--secondary-text-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .card__overlay {
  opacity: 0.9;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--hero-text-color);
  transform: translateY(0);
}

/* Синий оверлей, появляющийся на карточках при ховере */
.card__img {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  opacity: 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--hero-text-color);
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__title {
  padding: 20px 24px;
  border: 1px solid var(--card-border-color);
  border-top: none;
}

.card__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.addr__list {
  display: inline;
  margin: 0;
}

.addr__title {
  margin-top: 20px;
  color: var(--hero-text-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addr__link {
  display: inline;
  color: rgba(255, 255, 255, 0.6);
}

.addr__link:hover, .addr__link:focus {
  color: var(--accent-color);
}

.addr__item:not(:last-child) {
  margin-bottom: 8px;
}

/* footer-form */
.footer-form {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.footer-form__input {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  line-height: 1.25;
  width: 100%;
  height: 50px;
  color: var(--hero-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-background-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input:focus {
  border-color: var(--accent-color);
  color: var(--hero-text-color);
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    display: flex;
    margin-bottom: 0px;
    width: 358px;
  }
}

.footer-form__icon {
  margin-left: 10px;
}

/* modal form */
.modal-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__title {
    line-height: 1.15;
  }
}

.modal-form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 29px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input {
  padding: 12px;
  padding-left: 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 1.14;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__textarea {
  margin-top: 4px;
  padding: 12px 16px;
  height: 120px;
  line-height: 1.14;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .modal-form__checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding: 0;
}

.modal-form__check-icon {
  position: relative;
  top: 3px;
  margin-right: 4px;
  border: 2px;
  border-style: solid;
  border-color: var(--primary-text-color);
  border-radius: 2px;
  fill: var(--hero-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__check-input:focus + .modal-form__check-icon {
  border-color: var(--accent-color);
}

.modal-form__check-input:checked + .modal-form__check-icon {
  fill: var(--accent-color);
  border: 0;
}

.modal-form__agreement {
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */