/* footer */
.footer {
  background-color: var(--hero-bg-color);
}
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-section__title {
  margin-bottom: 20px;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
.footer__container {
  display: flex;
  justify-content: space-between;
  /* --grid-item: 2; */
}
.footer__widget-block {
  flex-basis: calc((50% - 45px) / 2);

  &:last-child {
    flex-basis: calc(50% - 15px);
  }
}
