/* hero */
.hero {
  /* min-height: 100vh; */
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 280px;
  text-align: center;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/main/overlay.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  /* background-attachment: fixed; */
}
.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
