/* Постоянные клиенты */
// .client-icons__list {
// }
.client-icons__item {
  --grid-item: 2;

  @media screen and (min-width: $tablet) {
    --grid-item: 3;
  }

  @media screen and (min-width: $desktop) {
    --grid-item: 6;
  }
}

.client-icons__link {
  height: 90px;
  border: 1px solid var(--icons-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
.client-icons__icon {
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .client-icons__link:hover &,
  .client-icons__link:focus & {
    fill: var(--accent-color);
  }
}
