/* contacts */
.contact {
  display: block;
  margin-left: 0;

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: nowrap;
  }
}
.contact__item {
  margin-top: 10px;
  margin-left: 0;
  @media screen and (min-width: $desktop) {
    margin-top: 0px;
    margin-left: 30px;
  }
}
.contact__link {
  color: var(--secondary-text-color);

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
