/* features */
.feature-list {
  //display: flex;
  padding: 0;
  color: var(--secondary-text-color);
}
/* Задаёт ширину эл. списка Особенностей */
.feature-list__item {
  --grid-item: 1;

  @media screen and (min-width: $tablet) {
    --grid-item: 2;
  }

  @media screen and (min-width: $desktop) {
    --grid-item: 4;
  }
}
.feature-list__trumb {
  height: 120px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}
.feature-list__icon {
  fill: currentColor;
  width: 70px;
  height: 70px;
}
.feature-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);

  @media screen and (min-width: $mobile) {
    text-align: center;
    //max-width: $mobile; //max из-за вертикального скрола
  }
}
