/* порфолио карточки*/
.portfolio__list {
  font-size: 16px;
  line-height: 1.875;
  color: var(--secondary-text-color);
}
.portfolio__item {
  border: 1px solid var(--card-border-color);
  --grid-item: 1;

  @media screen and (min-width: $tablet) {
    --grid-item: 2;
  }

  @media screen and (min-width: $desktop) {
    --grid-item: 3;
  }
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--secondary-text-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio__link {
  display: inline;

  &:hover {
    color: var(--secondary-text-color);
  }
}
.portfolio__link:focus {
  color: var(--secondary-text-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .card__overlay {
  opacity: 0.9;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--hero-text-color);
  transform: translateY(0);
}
