/* Рекомендуется всегда подключать */
/*Стили для box-sizing которые стоит использовать по-умолчанию*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  //  outline: 2px solid red; //чтобы проще искать, что ломает верстку
}

/* Основное тело страницы */
body {
  //position: relative;
  margin: 0; /*Удаляет стандартный маржин 8пх*/
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Стандартный набор стилей для картинок */
img {
  display: block; /*чтобы убрать отступ под картинкой ка ынлайновый элем.*/
  max-width: 100%;
  //width: 100%; //включать когда делем адаптивную верстку
  height: auto;
  /* Стили для обнуления верхних отступов у элементов */
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
/* визуальное скрытие */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
}

/* Списки без стандартных точек */
/*Класс для обнуления базовых свойств у списков (ul)*/
.list {
  display: flex; /*для всех списков делает флех*/
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-left: -30px;
  margin-top: -30px;
  // margin-bottom: 0;
}
.list__item {
  // background-color: lightblue; //временно
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  //width: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

/*Класс для обнуления базовых свойств у ссылок*/
.link {
  text-decoration: none;
  color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
