/* logo */
.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);

  /* logo heder */
  &--black {
    color: var(--primary-text-color);
  }
  /* logo footer */
  &--white {
    color: var(--hero-text-color);
  }

  @media screen and (min-width: $mobile) {
    max-width: $mobile; //max из-за вертикального скрола
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    margin-right: 93px;
  }
}
